# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
logs/
temp/
__pycache__/
*.log
*.tmp
./pytest_cache/*

# Ignore a specific directory and its contents
.git/
venv/

# Ignore all files with a specific extension
*.log
.DS_Store