astroid==2.15.6
autopep8==1.5.5
certifi==2023.5.7
charset-normalizer==3.1.0
dill==0.3.7
flake8==3.8.4
idna==3.4
importlib-metadata==6.8.0
isort==5.12.0
jedi==0.17.2
lazy-object-proxy==1.9.0
mccabe==0.6.1
mypoems @ file:///Users/josuecarames/Documents/Git/303-summer-23/poem_project/dist/mypoems-0.1.0.tar.gz#sha256=e360678fb722812ba67f07daca03414ad9309b891265a8893b5526e533486eb2
packaging==23.1
parso==0.7.1
platformdirs==3.9.1
pluggy==1.2.0
pycodestyle==2.6.0
pydocstyle==6.3.0
pyflakes==2.2.0
pylint==2.17.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.2.5
requests==2.31.0
rope==1.9.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.7.1
ujson==5.8.0
urllib3==2.0.7
wrapt==1.15.0
yapf==0.40.1
zipp==3.16.2
